
<div class="banniere"></div>
<ul>
    <li> <p><a href="{{ path('home') }}">HOME</a></p></li>
    <li> <a href="{{ path('aboire') }}">A BOIRE</a></li>
    <li> <a href="{{ path('letsplay') }}">LET'S PLAY</a></li>
    <li> <a href="{{ path('team') }}">TEAM</a></li>
    <li> <a href="{{ path('contact') }}">CONTACT</a></li>
</ul>

